In [69]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random

In [76]:
data_list = pd.read_csv('Bike.csv')

In [84]:
data_list['주말'].replace({'평일':0,'주말':1},inplace=True)

In [98]:
data_list['광고'] = 0

In [99]:
data = data_list.iloc[0]
gender = data['성별']
age = data['연령대코드']
rent_time = data['대여시간']
exercise = data['운동량']
weekend = data['주말']
industry = data['산업종류']

print(gender,age,rent_time, exercise,weekend,industry)

1 1 0 2 0 0

In [103]:
ad = []
## 여기에 30개 추가! 
if (gender == 0) and (age in [3,4]) and (rent_tine in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
        ad.append(0)
if (gender == 0) and (age in [3,4]) and (rent_tine in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
        ad.append(0)
if (gender == 0) and (age in [3,4]) and (rent_tine in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
        ad.append(0)
ad.append(1)

In [116]:
data_list['광고'][0] = random.choice(ad)

<ipython-input-116-ac04d68ccf6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_list['광고'][0] = random.choice(ad)

In [117]:
data_list.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,이동거리(M),이용시간(분),주말,요일,대여소근처역,소재지,동,산업종류,자전거대수,광고
0,2022-06-01,0,742,0,1,1,1,2,2,1,0,2,등촌,4,목3동,0,10.0,1
1,2022-06-01,0,2059,0,1,1,1,1,1,1,0,2,보라매,21,신대방2동,1,10.0,0
2,2022-06-01,0,1349,0,1,1,1,0,0,0,0,2,광운대,17,번동,2,10.0,0
3,2022-06-01,0,750,0,1,1,1,0,0,0,0,2,신정네거리,4,신정3동,3,10.0,0
4,2022-06-01,0,755,0,1,1,1,0,0,0,0,2,신목동,4,목5동,1,10.0,0