In [69]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random

In [76]:
data_list = pd.read_csv('Bike.csv')

In [84]:
data_list['주말'].replace({'평일':0,'주말':1},inplace=True)

In [98]:
data_list['광고'] = 0

In [99]:
data = data_list.iloc[0]
gender = data['성별']
age = data['연령대코드']
rent_time = data['대여시간']
exercise = data['운동량']
weekend = data['주말']
industry = data['산업종류']

print(gender,age,rent_time, exercise,)

1 1 0 2 0 0

In [128]:
for i in tqdm(range(len(data_list))):
    data = data_list.iloc[i]
    gender = data['성별']
    age = data['연령대코드']
    rent_time = data['대여시간']
    exercise = data['운동량']
    weekend = data['주말']
    industry = data['산업종류']
    
    ad = []
    # 데이터와 조건에 맞는 광고를 ad 리스트에 넣어줍니다.
    if (gender == 0) and (age in [3,4]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
            ad.append(0)
    if (gender == 1) and (age in [2,3]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
            ad.append(1)
    if (gender == 1) and (age in [3,4,5]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(2)
    if (gender == 1) and (age in [3]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(3)
    if (gender == 1) and (age in [2,3,4]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 1 ) and ( industry == 5):
            ad.append(4)
    if (gender == 1) and (age in [2,3]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 1 ) and ( industry == 7):
            ad.append(5)
    if (gender == 2) and (age in [3]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(6)
    if (gender == 1) and (age in [2,3]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(7)
    if (gender == 0) and (age in [1,2]) and (rent_time in [0]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(8)
    if (gender == 1) and (age in [3,4]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 1 ) and ( industry == 14):
            ad.append(9)
    if (gender == 0) and (age == 4)and (rent_time ==2) and (exercise in [0,1]) and (weekend ==1) and (industry==9):
        ad.append(10)
    if (gender == 0) and (age == 2)and (rent_time ==0) and (exercise ==0) and (weekend ==1) and (industry==0):
        ad.append(11)
    if (gender == 2) and (age in [2,3])and (rent_time ==0) and (exercise in [1,2]) and (weekend ==0) and (industry==0):
        ad.append(12)
    if (gender == 0) and (age ==3)and (rent_time ==1) and (exercise in [0,1]) and (weekend ==0):
        ad.append(13)
    if (gender == 0) and (age  ==3)and (rent_time ==1) and (exercise in [0,1]) and (weekend ==0) and (industry==12):
        ad.append(14)
    if (gender == 2) and (age in [3,4])and (rent_time ==2) and (exercise in [1,2]) and (weekend ==0):
        ad.append(15)
    if (gender == 2) and (age in [3,4])and (rent_time ==2) and (exercise in [0,1]) and (weekend ==0) and (industry==10):
        ad.append(16)
    if (gender == 1) and (age in [1,2])and (rent_time in [0,1]) and (exercise in [0,1]) and (weekend ==1):
        ad.append(17)
    if (gender == 1) and (age ==1)and (rent_time in [1,2]) and (exercise in [0,3]) and (weekend ==0) and (industry==10):
        ad.append(18)
    if (gender == 1) and (age in [2,3])and (rent_time in [2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(19)
    if (gender == 1) and (age in [1,2])and (rent_time in [1,2]) and (exercise in [2,3]) and (weekend ==0) and (industry==11):
        ad.append(20)
    if (gender == 1) and (age in [2,3])and (rent_time in [0,2]) and (exercise ==0) and (weekend ==1) and (industry==4):
        ad.append(21)
    if (gender == 1) and (age ==5)and (rent_time in [0,2]) and (exercise ==0) and (weekend ==0) and (industry==4):
        ad.append(22)
    if (gender == 0) and (age in [2,3])and (rent_time in [1,2]) and (exercise ==3) and (weekend ==0) and (industry==11):
        ad.append(23)
    if (gender == 1) and (age in [4,5])and (rent_time in [2]) and (exercise ==3) and (weekend ==0) and (industry==11):
        ad.append(24)
    if (gender == 2) and (age in [1,3])and (rent_time in [1,2]) and (exercise ==0) and (weekend ==0):
        ad.append(25)
    if (gender == 2) and (age ==2)and (rent_time in [1,2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(26)
    if (gender == 0) and (age ==2)and (rent_time in [0,2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(27)
    if (gender == 2) and (age in [3,4])and (rent_time in [0,2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(28)
              
    if len(ad)==0:
    # 조건에 맞는 광고가 없으면, 광고들 중 하나를 랜덤으로 라벨링 해줍니다.
        data_list['광고'][i] = random.randrange(0,29)
    else:
    # 조건에 맞는 광고들 리스트가 있으면, 광고들 중 하나를 라벨링 해줍니다.
        data_list['광고'][i] = random.choice(ad)

  0%|                                                                                            | 0/2 [00:00<?, ?it/s]<ipython-input-128-b4c861fb116f>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_list['광고'][i] = random.randrange(0,29)
100%|████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 95.45it/s]

In [129]:
data_list.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,이동거리(M),이용시간(분),주말,요일,대여소근처역,소재지,동,산업종류,자전거대수,광고
0,2022-06-01,0,742,0,1,1,1,2,2,1,0,2,등촌,4,목3동,0,10.0,17
1,2022-06-01,0,2059,0,1,1,1,1,1,1,0,2,보라매,21,신대방2동,1,10.0,6
2,2022-06-01,0,1349,0,1,1,1,0,0,0,0,2,광운대,17,번동,2,10.0,0
3,2022-06-01,0,750,0,1,1,1,0,0,0,0,2,신정네거리,4,신정3동,3,10.0,0
4,2022-06-01,0,755,0,1,1,1,0,0,0,0,2,신목동,4,목5동,1,10.0,0