In [1]:
import pandas as pd

df = pd.read_csv("data3_usage_info(hours).csv", encoding='CP949')

r_df = pd.read_csv("동,소재,위도,경도.csv", encoding='CP949')

n_df = pd.read_csv('종사자수max.csv', encoding='utf8')
n_df.reset_index(drop=True, inplace=True)
n_df.to_csv('종사자수cp949.csv', encoding='CP949')

In [2]:
# 불일치 동 체크
nlist = []
rlist = []
k = n_df['동이름'].tolist()
for i in range(len(r_df)):
    if r_df['동'][i] in k:
        pass
    else:
        rlist.append(r_df['동'][i])
rlist

['북가좌동',
 '홍은동',
 '북가좌동',
 '남가좌동',
 '북가좌동',
 '남가좌동',
 '남가좌동',
 '북가좌동',
 '홍은동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '신설동',
 '상일2동',
 '상일1동',
 '상일1동',
 '상일2동',
 '상일1동',
 '상일1동',
 '상일1동',
 '상일1동',
 '상일1동',
 '가양동',
 '행정동',
 '행정동',
 '번동',
 '묵동',
 '망우동',
 '묵동',
 '면목동',
 '묵동',
 '상봉동',
 '신내동',
 '신내동',
 '망우동',
 '면목동',
 '면목동',
 '묵동',
 '신내동',
 '면목동',
 '면목동',
 '신내동',
 '면목동',
 '면목동',
 '면목동',
 '면목동',
 '묵동',
 '상봉동',
 '망우동',
 '묵동',
 '상봉동',
 '망우동',
 '면목동',
 '면목동',
 '상봉동',
 '신내동',
 '묵동',
 '묵동',
 '묵동',
 '중화동',
 '면목동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '수유동',
 '번동',
 '수유동',
 '번동',
 '번동',
 '번동',
 '수유동',
 '번동',
 '월계동',
 '월계동',
 '공릉동',
 '공릉동',
 '중계동',
 '중계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '월계동',
 '월계동',
 '공릉동',
 '공릉동',
 '중계동',
 '상계동',
 '상계동',
 '상계동',
 '공릉동',
 '상계동',
 '상계동',
 '중계동',
 '중계동',
 '상계동',
 '월계동',
 '중계동',
 '중계동',
 '상계동',
 '중계동',
 '중계동',
 '중계동',
 '월계동',
 '상계동',
 '상계동',
 '월계동',
 '중계동',
 '공릉동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '창동',
 '방학동',
 '창동',
 '창동',
 '쌍문동',
 '창동',
 '창동',
 '방학동',
 '창동',
 '창동',
 '방학동',
 '쌍문동',
 '도봉동',
 '도봉동',
 '방학동',
 '방학동',
 '쌍문동',
 '창동',
 '창동',
 '창동',
 '창동',
 '방학동',
 '쌍문동',
 '창동',
 '도봉동',
 '방학동',
 '도봉동',
 '쌍문동',
 '쌍문동',
 '창동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '상도동',
 '동작동',
 '동작동',
 '반포동',
 '반포동',
 '반포동',
 '반포동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '서초동',
 '서초동',
 '서초동',
 '도곡동',
 '양재동',
 '양재동',
 '양재동',
 '방배동',
 '방배동',
 '서초동',
 '서초동',
 '방배동',
 '서초동',
 '양재동',
 '서초동',
 '서초동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '도곡동',
 '양재동',
 '서초동',
 '서초동',
 '논현동',
 '논현동',
 '논현동',
 '대치동',
 '대치동',
 '대치동',
 '대치동',
 '역삼동',
 '역삼동',
 '역삼동',
 '도곡동',
 '도곡동',
 '개포동',
 '논현동',
 '역삼동',
 '논현동',
 '논현동',
 '개포동',
 '개포동',
 '도곡동',
 '논현동',
 '도곡동',
 '대치동',
 '대치동',
 '논현동',
 '논현동',
 '논현동',
 '개포동',
 '개포동',
 '개포동',
 '도곡동',
 '역삼동',
 '역삼동',
 '역삼동',
 '역삼동',
 '도곡동',
 '도곡동',
 '대치동',
 '대치동',
 '역삼동',
 '개포동',
 '개포동',
 '대치동',
 '서초동',
 '반포동',
 '서초동',
 '방배동',
 '서초동',
 '반포동',
 '서초동',
 '서초동',
 '서초동',
 '서초동',
 '반포동',
 '방배동',
 '방배동',
 '방배동',
 '서초동',
 '반포동',
 '반포동',
 '반포동',
 '양재동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '공릉동',
 '공릉동',
 '월계동',
 '월계동',
 '공릉동',
 '상계동',
 '월계동',
 '중계동',
 '상계동',
 '중계동',
 '홍은동',
 '홍은동',
 '남가좌동',
 '북가좌동',
 '남가좌동',
 '남가좌동',
 '홍은동',
 '대치동',
 '논현동',
 '역삼동',
 '대치동',
 '역삼동',
 '개포동',
 '개포동',
 '상일1동',
 '상일1동',
 '상일2동',
 '상일1동',
 '상일2동',
 '상일1동',
 '상일2동',
 '번동',
 '가양동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '오류2동',
 '상계동',
 '상계동',
 '중계동',
 '중계동',
 '월계동',
 '중계동',
 '상계동',
 '월계동',
 '상계동',
 '상계동',
 '중계동',
 '월계동',
 '상계동',
 '상계동',
 '월계동',
 '공릉동',
 '공릉동',
 '상계동',
 '공릉동',
 '공릉동',
 '창동',
 '창동',
 '방학동',
 '창동',
 '창동',
 '창동',
 '창동',
 '노량진동',
 '남가좌동',
 '서초동',
 '반포동',
 '반포동',
 '반포동',
 '반포동',
 '반포동',
 '양재동',
 '반포동',
 '방배동',
 '행정동',
 '풍납동',
 '양평동',
 '양평동',
 '양평동',
 '양평동',
 '신내동',
 '상봉동',
 '상봉동',
 '상봉동',
 '묵동',
 '신내동',
 '면목동',
 '상봉동',
 '상봉동',
 '신내동',
 '망우동',
 '행정동',
 '대치동',
 '역삼동',
 '대치동',
 '대치동',
 '상계동',
 '상계동',
 '공릉동']

In [5]:
# 동 값이 이상한 값 처리
r_df[r_df['동']=='행정동']
'''869 잠실4동
882 잠실4동
2390 신천동
2578 잠실4동'''
r_df['동'][869] = '잠실4동'
r_df['동'][882] = '잠실4동'
r_df['동'][2390] = '신천동'
r_df['동'][2578] = '잠실4동'

C:\Users\smdhk\AppData\Local\Temp\ipykernel_4552\1110395538.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df['동'][869] = '잠실4동'
C:\Users\smdhk\AppData\Local\Temp\ipykernel_4552\1110395538.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df['동'][882] = '잠실4동'
C:\Users\smdhk\AppData\Local\Temp\ipykernel_4552\1110395538.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df['동'][2390] = '신천동'
C:\Users\smdhk\AppData\Local\Temp\ipykernel_4552\1110395538.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_df['동'][2578] = '잠실4동'

In [6]:
df4 = pd.merge(r_df, n_df, left_on='동', right_on='동이름', how='left')

In [7]:
df4

,소재지,번호,위도,경도,동,일련번호,구이름,동이름,산업종류,종사자수
0,마포구,102,37.555649,126.910629,서교동,2000.0,마포구,서교동,사업시설관리 및 사업지원 서비스업,1668.0
1,마포구,103,37.554951,126.910835,망원1동,1002.0,마포구,망원1동,건설업,191.0
2,마포구,104,37.550629,126.914986,서교동,2000.0,마포구,서교동,사업시설관리 및 사업지원 서비스업,1668.0
3,마포구,105,37.550007,126.914825,서교동,2000.0,마포구,서교동,사업시설관리 및 사업지원 서비스업,1668.0
4,마포구,106,37.548645,126.912826,합정동,1000.0,마포구,합정동,금융 및 보험업,531.0
...,...,...,...,...,...,...,...,...,...,...
2649,영등포구,5851,37.502083,126.893188,구로5동,1000.0,구로구,구로5동,금융 및 보험업,3129.0
2650,영등포구,5852,37.503006,126.893829,대림3동,3000.0,영등포구,대림3동,사업시설관리 및 사업지원 서비스업,834.0
2651,영등포구,5853,37.522610,126.923012,여의동,2000.0,영등포구,여의동,금융 및 보험업,28358.0
2652,영등포구,5854,37.525089,126.924080,여의동,2000.0,영등포구,여의동,금융 및 보험업,28358.0
2653,영등포구,5855,37.524643,126.923424,여의동,2000.0,영등포구,여의동,금융 및 보험업,28358.0

In [8]:
df4['산업종류'].isnull().sum()

379

In [16]:
n_df[n_df['동이름'].str.startswith('잠실')].sort_values(by='종사자수', ascending=False)

     일련번호  구이름   동이름                   산업종류     종사자수
357  1000  송파구  잠실6동  출판, 영상, 방송통신 및 정보서비스업  16016.0
102  2010  송파구  잠실3동              숙박 및 음식점업   2090.0
326  2000  송파구  잠실본동                    건설업   1713.0
16   2000  송파구  잠실2동    예술, 스포츠 및 여가관련 서비스업    758.0
413  1000  송파구  잠실7동                교육 서비스업    499.0
39   1000  송파구  잠실4동                교육 서비스업    322.0

In [18]:
df5 = df4
#df5['동']['오류2동'] = '사업시설관리 및 사업지원 서비스업'
df5.loc[df5['동'] == '오류2동', '산업종류'] = '사업시설관리 및 사업지원 서비스업'
df5.loc[df5['동'] == '상계동', '산업종류'] = '금융 및 보험업'
df5.loc[df5['동'] == '창동', '산업종류'] = '건설업'
df5.loc[df5['동'] == '서초동', '산업종류'] = '전문, 과학 및 기술 서비스업'
df5.loc[df5['동'] == '방배동', '산업종류'] = '사업시설관리 및 사업지원 서비스업'
df5.loc[df5['동'] == '중계동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '반포동', '산업종류'] = '도매 및 소매업'
df5.loc[df5['동'] == '대치동', '산업종류'] = '사업시설관리 및 사업지원 서비스업'
df5.loc[df5['동'] == '공릉동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '월계동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '면목동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '역삼동', '산업종류'] = '도매 및 소매업'
df5.loc[df5['동'] == '상일1동', '산업종류'] = '보건업 및 사회복지 서비스업	'
df5.loc[df5['동'] == '논현동', '산업종류'] = '도매 및 소매업'
df5.loc[df5['동'] == '개포동', '산업종류'] = '건설업'
df5.loc[df5['동'] == '묵동', '산업종류'] = '출판, 영상, 방송통신 및 정보서비스업'
df5.loc[df5['동'] == '양평동', '산업종류'] = '사업시설관리 및 사업지원 서비스업'
df5.loc[df5['동'] == '상봉동', '산업종류'] = '운수업'
df5.loc[df5['동'] == '신내동', '산업종류'] = '공공행정, 국방 및 사회보장 행정'
df5.loc[df5['동'] == '방학동', '산업종류'] = '보건업 및 사회복지 서비스업'
df5.loc[df5['동'] == '수유동', '산업종류'] = '공공행정, 국방 및 사회보장 행정'
df5.loc[df5['동'] == '도곡동', '산업종류'] = '보건업 및 사회복지 서비스업'
df5.loc[df5['동'] == '남가좌동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '양재동', '산업종류'] = '전문, 과학 및 기술 서비스업'
df5.loc[df5['동'] == '쌍문동', '산업종류'] = '보건업 및 사회복지 서비스업'
df5.loc[df5['동'] == '번동', '산업종류'] = '금융 및 보험업'
df5.loc[df5['동'] == '상일2동', '산업종류'] = '보건업 및 사회복지 서비스업'
df5.loc[df5['동'] == '망우동', '산업종류'] = '운수업'
df5.loc[df5['동'] == '홍은동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '북가좌동', '산업종류'] = '사업시설관리 및 사업지원 서비스업'
df5.loc[df5['동'] == '도봉동', '산업종류'] = '운수업'
#df5.loc[df5['동'] == '행정동', '산업종류'] = ''
df5.loc[df5['동'] == '가양동', '산업종류'] = '전문, 과학 및 기술 서비스업'
df5.loc[df5['동'] == '동작동', '산업종류'] = '금융 및 보험업'
df5.loc[df5['동'] == '도곡동', '산업종류'] = '보건업 및 사회복지 서비스업'
df5.loc[df5['동'] == '노량진동', '산업종류'] = '도매 및 소매업'
df5.loc[df5['동'] == '풍납동', '산업종류'] = '보건업 및 사회복지 서비스업'
df5.loc[df5['동'] == '번동', '산업종류'] = '금융 및 보험업'
df5.loc[df5['동'] == '상도동', '산업종류'] = '교육 서비스업'
df5.loc[df5['동'] == '신설동', '산업종류'] = '도매 및 소매업'
df5.loc[df5['동'] == '중화동', '산업종류'] = '부동산업 및 임대업'
df5.loc[df5['동'] == '신천동', '산업종류'] = '출판, 영상, 방송통신 및 정보서비스업'

# 신설동 = 숭인동
# 동작동 = 사당동
# 창동 length 제한 3 (+1) 걸어서 찾아서 가져오는식으로

In [19]:
df5[df5['산업종류'].isnull()]

Empty DataFrame
Columns: [소재지, 번호, 위도, 경도, 동, 일련번호, 구이름, 동이름, 산업종류, 종사자수]
Index: []

In [20]:
df5[['소재지', '동']].value_counts()

소재지   동
강서구   가양1동     46
영등포구  여의동      45
노원구   상계동      34
구로구   오류2동     34
마포구   상암동      32
               ..
동작구   상도동       1
서대문구  북가좌2동     1
용산구   이태원2동     1
서대문구  아현동       1
중랑구   중화동       1
Length: 460, dtype: int64

In [21]:
df5.head(1)

,소재지,번호,위도,경도,동,일련번호,구이름,동이름,산업종류,종사자수
0,마포구,102,37.555649,126.910629,서교동,2000.0,마포구,서교동,사업시설관리 및 사업지원 서비스업,1668.0

In [22]:
df3 = df5[['소재지','번호','위도','경도','동','산업종류']]
#df3.dropna(axis=0, inplace=True)
df3

       소재지    번호         위도          경도     동                산업종류
0      마포구   102  37.555649  126.910629   서교동  사업시설관리 및 사업지원 서비스업
1      마포구   103  37.554951  126.910835  망원1동                 건설업
2      마포구   104  37.550629  126.914986   서교동  사업시설관리 및 사업지원 서비스업
3      마포구   105  37.550007  126.914825   서교동  사업시설관리 및 사업지원 서비스업
4      마포구   106  37.548645  126.912826   합정동            금융 및 보험업
...    ...   ...        ...         ...   ...                 ...
2649  영등포구  5851  37.502083  126.893188  구로5동            금융 및 보험업
2650  영등포구  5852  37.503006  126.893829  대림3동  사업시설관리 및 사업지원 서비스업
2651  영등포구  5853  37.522610  126.923012   여의동            금융 및 보험업
2652  영등포구  5854  37.525089  126.924080   여의동            금융 및 보험업
2653  영등포구  5855  37.524643  126.923424   여의동            금융 및 보험업

[2654 rows x 6 columns]

In [23]:
df3.to_csv('상권분석,위경도,동.csv', encoding='CP949')