In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random

In [30]:
data = pd.read_csv('data3_usage_info(hours).csv',encoding = 'CP949')

In [31]:
data.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,NaN,~10대,1,48.30,0.46,1999.70,10
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,NaN,~10대,1,27.47,0.23,991.00,9
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,20.63,0.20,868.17,3
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,NaN,~10대,1,13.97,0.13,560.00,4
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,NaN,~10대,1,12.15,0.14,590.00,3

In [32]:
data['연령대코드'].value_counts()

20대      1257122
30대       862500
40대       523899
기타        376098
50대       338900
~10대      227169
60대       103920
70대이상      14720
Name: 연령대코드, dtype: int64

In [11]:
data[data["성별"] == 'f'] = "F"
data[data["성별"] == 'm'] = "M"
data["성별"] = data["성별"].fillna("N")

In [33]:
data["성별"].value_counts()

M    1469510
F     972289
m        572
f        237
Name: 성별, dtype: int64

In [45]:
data.loc[data['성별'] == 'f', '성별'] = 'F'
data.loc[data['성별'] == 'm', '성별'] = 'M'

In [46]:
data['성별'].value_counts()

M    1470082
F     972526
Name: 성별, dtype: int64

In [54]:
days = ['평일','평일','평일','평일','평일','주말','주말']
def get_day(data):
    day_str = data['대여일자']
    year,month,day=map(int,day_str.split('-'))
    return days[calendar.weekday(year,month,day)]

In [55]:
data['요일'] = data.apply(get_day,axis =1)

In [56]:
data.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),요일
0,2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,NaN,~10대,1,48.30,0.46,1999.70,10,평일
1,2022-06-01,0,2059,2059. 보라매공원 정문,정기권,NaN,~10대,1,27.47,0.23,991.00,9,평일
2,2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,20.63,0.20,868.17,3,평일
3,2022-06-01,0,750,750. 연의근린공원 건너편,정기권,NaN,~10대,1,13.97,0.13,560.00,4,평일
4,2022-06-01,0,755,755. 목동1단지아파트 상가 앞,정기권,NaN,~10대,1,12.15,0.14,590.00,3,평일

In [57]:
data.loc[data['연령대코드'] == '70대이상', '연령대코드'] = '70대'
data.loc[data['연령대코드'] == '~10대', '연령대코드'] = '10대'
data.loc[data['연령대코드'] == '기타', '연령대코드'] = 'N'

In [58]:
data['연령대코드'].value_counts()

20대    1257122
30대     862500
40대     523899
N       376098
50대     338900
10대     227169
60대     103920
70대      14720
Name: 연령대코드, dtype: int64

In [ ]:
data.to_csv('성별_연령_요일_추가.csv')