In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random

df = pd.read_csv('final_final.csv', encoding='utf8')

In [2]:
df.drop(['탄소량','번호','위도','경도','대여소명'], axis=1, inplace=True)

In [3]:
df['대여시간'].replace({0:0, 1:0, 2:0, 3:0, 4:0, 5:0 ,6:0 ,20:0, 21:0, 22:0, 23:0,
                   7:1,8:1,9:1,17:1,18:1,19:1,10:2,11:2,12:2,13:2,14:2,15:2,16:2}, inplace=True)
df['대여구분코드'].replace({'정기권':0, '일일권':1, '일일권(비회원)':2, '단체권':3}, inplace=True)
df['성별'].replace({'M':0,'N':1,'F':2}, inplace=True)
df['연령대코드'].replace({'N':0, '10대':1, '20대':2, '30대':3,'40대':3, '50대':4, '60대':4, '70대':5},inplace=True)
df['운동량'].replace({'\\N':0.00},inplace=True)
df.astype({'운동량':'float'})
df['주말'].replace({'평일':0,'주말':1},inplace=True)
df['요일'].replace({'월':0,'화':1,'수':2,'목':3,'금':4,'토':5,'일':6},inplace=True)
df['소재지'].replace({'강서구':0,'송파구':1,'영등포구':2,'노원구':3,'양천구':4,'마포구':5,'광진구':6,
'강동구':7,'구로구':8,'성동구':9,'동대문구':10,'종로구':11,'서초구':12,'강남구':13,'중랑구':14,
'관악구':15,'은평구':16,'성북구':17,'중구':18,'용산구':19,'서대문구':20,'동작구':21,'도봉구':22,
'금천구':23,'강북구':24},inplace=True)
df['산업종류'].replace({'사업시설관리 및 사업지원 서비스업':0, '보건업 및 사회복지 서비스업':1, '금융 및 보험업':2, '운수업':3,
'교육 서비스업':4, '도매 및 소매업':5, '출판, 영상, 방송통신 및 정보서비스업':6, '숙박 및 음식점업':7,
'공공행정, 국방 및 사회보장 행정':8, '건설업':9, '전문, 과학 및 기술 서비스업':10,
'예술, 스포츠 및 여가관련 서비스업':11, '제조업':12, '보건업 및 사회복지 서비스업\t':13, '부동산업 및 임대업':14,
'하수 · 폐기물 처리, 원료재생 및 환경복원업':15},
inplace=True)

In [4]:
#이동시간 0~3의 코드로 지정
q1 = np.quantile(df['이용시간(분)'], 0.25)
q2 = np.quantile(df['이용시간(분)'], 0.5)
q3 = np.quantile(df['이용시간(분)'], 0.75)

Minutes = []
for row in df['이용시간(분)']:
    if row < q1 : Minutes.append("0")
    elif row <q2 : Minutes.append("1")
    elif row <q3 : Minutes.append("2")
    else : Minutes.append("3")
        
df['이용시간(분)'] = Minutes

In [5]:
#운동량 0~3의 코드로 지정
df = df.astype({'운동량':'float'})
q1 = df['운동량'].quantile(0.25, interpolation='nearest')
q2 = df['운동량'].quantile(0.5, interpolation='nearest')
q3 = df['운동량'].quantile(0.75, interpolation='nearest')

ex = []
for row in df['운동량']:
    if row < q1 : ex.append("0")
    elif row <q2 : ex.append("1")
    elif row <q3 : ex.append("2")
    else : ex.append("3")
        
df['운동량'] = ex

In [6]:
#이동거리 0~3의 코드로 지정

q1 = df['이동거리(M)'].quantile(0.25, interpolation='nearest')
q2 = df['이동거리(M)'].quantile(0.5, interpolation='nearest')
q3 = df['이동거리(M)'].quantile(0.75, interpolation='nearest')

m = []
for row in df['이동거리(M)']:
    if row < q1 : m.append("0")
    elif row <q2 : m.append("1")
    elif row <q3 : m.append("2")
    else : m.append("3")
        
df['이동거리(M)'] = m

In [7]:
df = df.astype({'운동량':'int'})
data_list= df

data = data_list.iloc[2]
gender = data['성별']
age = data['연령대코드']
rent_time = data['대여시간']
exercise = data['운동량']
weekend = data['주말']
industry = data['산업종류']

print(gender,age,rent_time, exercise, weekend, industry)

if (gender == 1) and (age in [1,4]) and (rent_time in [0]) and ( exercise ==0) and ( weekend == 0 ) and ( industry == 2):
    print('true')

1 1 0 0 0 2
true

In [45]:
df.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여구분코드      int64
성별          int64
연령대코드       int64
이용건수        int64
운동량         int32
이동거리(M)    object
이용시간(분)    object
주말          int64
요일          int64
대여소근처역     object
소재지         int64
동          object
산업종류        int64
dtype: object

In [8]:
ad = []
if (gender == 1) and (age in [1,4])and (rent_time in [0])and ( weekend == 0 ):
    ad.append(2)
ad

[2]

In [44]:
ad = []
ad.append(random.randrange(0,28))
ad

[9]

In [9]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random

df = df.astype({'운동량':'int'})
data_list= df

data_list['광고'] = 0

data = data_list.iloc[0]
gender = data['성별']
age = data['연령대코드']
rent_time = data['대여시간']
exercise = data['운동량']
weekend = data['주말']
industry = data['산업종류']

print(gender,age,rent_time, exercise,)
li = []
for i in tqdm(range(len(data_list))):
    ad = []
    data = data_list.iloc[i]
    gender = data['성별']
    age = data['연령대코드']
    rent_time = data['대여시간']
    exercise = data['운동량']
    weekend = data['주말']
    industry = data['산업종류']
    
    # 데이터와 조건에 맞는 광고를 ad 리스트에 넣어줍니다.
    if (gender == 0) and (age in [3,4]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
            ad.append(0)
    if (gender == 1) and (age in [2,3]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ) and ( industry == 2):
            ad.append(1)
    if (gender == 1) and (age in [3,4,5]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(2)
    if (gender == 1) and (age in [3]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(3)
    if (gender == 1) and (age in [2,3,4]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 1 ) and ( industry == 5):
            ad.append(4)
    if (gender == 1) and (age in [2,3]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 1 ) and ( industry == 7):
            ad.append(5)
    if (gender == 2) and (age in [3]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(6)
    if (gender == 1) and (age in [2,3]) and (rent_time in [1]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(7)
    if (gender == 0) and (age in [1,2]) and (rent_time in [0]) and ( exercise in [1,2]) and ( weekend == 0 ):
            ad.append(8)
    if (gender == 1) and (age in [3,4]) and (rent_time in [2]) and ( exercise in [1,2]) and ( weekend == 1 ) and ( industry == 14):
            ad.append(9)
    if (gender == 0) and (age == 4)and (rent_time ==2) and (exercise in [0,1]) and (weekend ==1) and (industry==9):
        ad.append(10)
    if (gender == 0) and (age == 2)and (rent_time ==0) and (exercise ==0) and (weekend ==1) and (industry==0):
        ad.append(11)
    if (gender == 2) and (age in [2,3])and (rent_time ==0) and (exercise in [1,2]) and (weekend ==0) and (industry==0):
        ad.append(12)
    if (gender == 0) and (age ==3)and (rent_time ==1) and (exercise in [0,1]) and (weekend ==0):
        ad.append(13)
    if (gender == 0) and (age  ==3)and (rent_time ==1) and (exercise in [0,1]) and (weekend ==0) and (industry==12):
        ad.append(14)
    if (gender == 2) and (age in [3,4])and (rent_time ==2) and (exercise in [1,2]) and (weekend ==0):
        ad.append(15)
    if (gender == 2) and (age in [3,4])and (rent_time ==2) and (exercise in [0,1]) and (weekend ==0) and (industry==10):
        ad.append(16)
    if (gender == 1) and (age in [1,2])and (rent_time in [0,1]) and (exercise in [0,1]) and (weekend ==1):
        ad.append(17)
    if (gender == 1) and (age ==1)and (rent_time in [1,2]) and (exercise in [0,3]) and (weekend ==0) and (industry==10):
        ad.append(18)
    if (gender == 1) and (age in [2,3])and (rent_time in [2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(19)
    if (gender == 1) and (age in [1,2])and (rent_time in [1,2]) and (exercise in [2,3]) and (weekend ==0) and (industry==11):
        ad.append(20)
    if (gender == 1) and (age in [2,3])and (rent_time in [0,2]) and (exercise ==0) and (weekend ==1) and (industry==4):
        ad.append(21)
    if (gender == 1) and (age ==5)and (rent_time in [0,2]) and (exercise ==0) and (weekend ==0) and (industry==4):
        ad.append(22)
    if (gender == 0) and (age in [2,3])and (rent_time in [1,2]) and (exercise ==3) and (weekend ==0) and (industry==11):
        ad.append(23)
    if (gender == 1) and (age in [4,5])and (rent_time in [2]) and (exercise ==3) and (weekend ==0) and (industry==11):
        ad.append(24)
    if (gender == 2) and (age in [1,3])and (rent_time in [1,2]) and (exercise ==0) and (weekend ==0):
        ad.append(25)
    if (gender == 2) and (age ==2)and (rent_time in [1,2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(26)
    if (gender == 0) and (age ==2)and (rent_time in [0,2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(27)
    if (gender == 2) and (age in [3,4])and (rent_time in [0,2]) and (exercise in [2,3]) and (weekend ==0):
        ad.append(28)      

        
    if len(ad)==0:
    # 조건에 맞는 광고가 없으면, 광고들 중 하나를 랜덤으로 라벨링 해줍니다. 29 -> 광고를 랜덤하게 송출하겠다는 기준.
        li.append(29)
    else:
    # 조건에 맞는 광고들 리스트가 있으면, 광고들 중 하나를 라벨링 해줍니다.
        li.append(random.choice(ad))

1 1 0 2

100%|██████████████████████████████████████████████████████████████████████| 3698013/3698013 [10:37<00:00, 5804.22it/s]

In [56]:
len(li)

3698013

In [50]:
len(data_list)

3698013

In [12]:
data_list['광고'] = li

In [13]:
data_list.head(1)

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,이동거리(M),이용시간(분),주말,요일,대여소근처역,소재지,동,산업종류,광고
0,2022-06-01,0,742,0,1,1,1,2,2,1,0,2,등촌,4,목3동,0,29

In [ ]:
list_dong = data_list['동'].unique().tolist()
data_list['동'] = data_list['동'].map(lambda x: list_dong.index(x))
list_st = data_list['대여소근처역'].unique().tolist()
data_list['대여소근처역'] = data_list['대여소근처역'].map(lambda x: list_st.index(x))

In [14]:
data_list.to_csv('Bike2.csv', encoding='utf8')