In [1]:
# 학습시킬 데이터 로드

import pandas as pd

df = pd.read_csv('C://Users//gwcat//Downloads//Bike2.csv')

In [2]:
df

,Unnamed: 0,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,이동거리(M),이용시간(분),주말,요일,대여소근처역,소재지,동,산업종류,광고
0,0,2022-06-01,0,742,0,1,1,1,2,2,1,0,2,등촌,4,목3동,0,29
1,1,2022-06-01,0,2059,0,1,1,1,1,1,1,0,2,보라매,21,신대방2동,1,29
2,2,2022-06-01,0,1349,0,1,1,1,0,0,0,0,2,광운대,17,번동,2,29
3,3,2022-06-01,0,750,0,1,1,1,0,0,0,0,2,신정네거리,4,신정3동,3,29
4,4,2022-06-01,0,755,0,1,1,1,0,0,0,0,2,신목동,4,목5동,1,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3698008,3698008,2022-06-30,0,4765,0,0,0,1,1,1,3,0,3,동대문,18,광희동,5,29
3698009,3698009,2022-06-30,0,4813,0,0,0,1,2,2,2,0,3,망우,14,망우본동,3,29
3698010,3698010,2022-06-30,0,4564,0,0,0,1,2,2,2,0,3,노량진,2,여의동,2,29
3698011,3698011,2022-06-30,0,263,0,0,0,1,1,1,2,0,3,문래,2,문래동,0,29
3698012,3698012,2022-06-30,0,1308,0,0,0,1,0,0,0,0,3,안암,17,안암동,4,29

In [3]:
del df['Unnamed: 0']
del df['대여일자']

In [4]:
# one-hot 인코딩 하니 컬럼이 너무 많아 메모리 에러..
# 동과 대여소근처역을 직접 숫자로 mappling 해서 돌리기

In [5]:
# 동 mappling
list_dong = df['동'].unique().tolist()
df['동'] = df['동'].map(lambda x: list_dong.index(x))

In [6]:
# 대여소근처역 mappling
list_station = df['대여소근처역'].unique().tolist()
df['대여소근처역'] = df['대여소근처역'].map(lambda x: list_station.index(x))

In [7]:
X = df.drop(['광고'], axis=1)
Y = df['광고']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [9]:
#기본적인 randomforest모형

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score # 정확도 함수

clf = RandomForestClassifier(n_estimators=20, max_depth=5,random_state=0)
clf.fit(X_train,Y_train)

predict1 = clf.predict(X_test)
print("accuracy_score =",accuracy_score(Y_test,predict1))

accuracy_score = 0.7753054793384556