In [66]:
import pandas as pd

df = pd.read_csv('final_final.csv', encoding='utf8', index_col=0)

In [67]:
df.head(3)

,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분),주말,요일,대여소근처역,소재지,번호,위도,경도,동,산업종류
대여일자,,,,,,,,,,,,,,,,,,,,
2022-06-01,0,742,742. 등촌역 5번 출구 뒤,정기권,N,10대,1,48.30,0.46,1999.70,10,평일,수,등촌,양천구,742.0,37.550732,126.864578,목3동,사업시설관리 및 사업지원 서비스업
2022-06-01,0,2059,2059. 보라매공원 정문,정기권,N,10대,1,27.47,0.23,991.00,9,평일,수,보라매,동작구,2059.0,37.497078,126.917793,신대방2동,보건업 및 사회복지 서비스업
2022-06-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,N,10대,1,20.63,0.20,868.17,3,평일,수,광운대,성북구,1349.0,37.623829,127.050201,번동,금융 및 보험업

In [68]:
!pip3 install plotnine

Requirement already satisfied: plotnine in c:\users\smdhk\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: matplotlib>=3.5.0 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (3.5.1)
Requirement already satisfied: statsmodels>=0.13.2 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (0.13.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (1.7.3)
Requirement already satisfied: mizani>=0.7.3 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (0.7.4)
Requirement already satisfied: pandas>=1.3.5 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (1.4.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (0.5.2)
Requirement already satisfied: numpy>=1.19.0 in c:\users\smdhk\anaconda3\lib\site-packages (from plotnine) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\smdhk\anaconda3\lib\site-packages (from matplotlib>=3.5.0->plotnine) (9.0.1)
Requirement already satisfied: palettable in c:\users\smdhk\anaconda3\lib\site-packages (from mizani>=0.7.3->plotnine) (3.3.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\smdhk\anaconda3\lib\site-packages (from pandas>=1.3.5->plotnine) (2021.3)
Requirement already satisfied: six in c:\users\smdhk\anaconda3\lib\site-packages (from patsy>=0.5.1->plotnine) (1.16.0)

In [69]:
df_cn = df.groupby(by=['주말'], as_index=False).mean()
df_cn

,주말,대여시간,대여소번호,이용건수,이동거리(M),이용시간(분),번호,위도,경도
0,주말,14.066115,1983.746842,1.129134,3435.082566,29.150122,1983.746842,37.549618,126.985809
1,평일,14.199883,1988.314719,1.156341,3019.735326,25.097745,1988.314719,37.548941,126.983531

In [70]:
df1 = df[df['주말']=='평일']
df2 = df[df['주말']=='주말']

df1_cn = df1.groupby(by=['요일'], as_index=False).count()
df1_cn = df1_cn[['요일', '이용건수']]

df2_cn = df2.groupby(by=['요일'], as_index=False).count()
df2_cn = df2_cn[['요일', '이용건수']]

In [71]:
df1_aver = df1_cn.mean()
df1_aver

C:\Users\smdhk\AppData\Local\Temp\ipykernel_16364\525705381.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

이용건수    535696.2
dtype: float64

In [72]:
df2_aver = df2_cn.mean()
df2_aver

C:\Users\smdhk\AppData\Local\Temp\ipykernel_16364\1083008315.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

이용건수    509766.0
dtype: float64

In [73]:
df_cal = pd.DataFrame(columns=['Weekend','count'])
df_cal['Weekend'] = ['week', 'Weekend']
df_cal['count'] = [df1_aver[0], df2_aver[0]]
df_cal

   Weekend     count
0     week  535696.2
1  Weekend  509766.0

In [74]:
import plotnine
from plotnine import *
p = (ggplot(df_cal)
 + geom_col(aes(x='Weekend',y='count', fill='Weekend'))
 + geom_line(aes(x='Weekend', y='count', color='Weekend'), size=1)
 + scale_color_hue(l=0.45)                                  # some contrast to make the lines stick out
 + ggtitle('Analysis')
)
ggsave(p, 'Weekend.png')

C:\Users\smdhk\anaconda3\lib\site-packages\plotnine\ggplot.py:718: PlotnineWarning: Saving 6.4 x 4.8 in image.
C:\Users\smdhk\anaconda3\lib\site-packages\plotnine\ggplot.py:719: PlotnineWarning: Filename: Weekend.png
C:\Users\smdhk\anaconda3\lib\site-packages\plotnine\geoms\geom_path.py:81: PlotnineWarning: geom_path: Each group consist of only one observation. Do you need to adjust the group aesthetic?